@media print {

  body {
    margin: 0.5in;
    font-size: 11pt;
  }

  header, footer {
    margin-bottom: 20px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .links {
    display: none;
  }

  section {
    page-break-inside: avoid;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .role-summary::after {
    content: "Visit " attr(data-print-url) " for more details";
  }

  .role[open] .role-summary::after {
    content: "";
    display: none;
  }

}